
    body {
      background: linear-gradient(135deg, #0f0f1a, #1c1c27);
      color: white;
      font-family: Poppins, sans-serif;
    }

    .product-card {
      background: #1c1c27;
      border-radius: 16px;
      padding: 20px;
      transition: 0.3s;
      height: 100%;
    
    }

    .product-card:hover {
      transform: translateY(-6px);
    }

    .product-card img {
      height: 50vh;
      object-fit: cover;
      border-radius: 12px;


    }

    .btn-cart {
      background: #ff4ecf;
      border: none;
      color: white;
      border-radius: 30px;
    }

    .btn-cart:hover {
      background: #ff2fbf;
    }

    .search-input {
      border-radius: 30px;
      padding: 12px 20px;
      border: none;
      width: 100%;
    }
  






    #loader{
  position:fixed;
  inset:0;
  background:#0b0617;
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:9999;
}


.loader-text{
  display:flex;
  gap:10px;
  font-size:4rem;
  font-weight:700;
}

.loader-text span{
  color:#a855f7;
  animation:bounce 1.2s infinite;
}

.loader-text span:nth-child(1){
  animation-delay:.1s;
}
.loader-text span:nth-child(2){
  animation-delay:.2s;
}

.loader-text span:nth-child(3){
  animation-delay:.3s;
}

.loader-text span:nth-child(4){
  animation-delay:.4s;
}

.loader-text span:nth-child(5){
  animation-delay:.5s;
}

.loader-text span:nth-child(6){
  animation-delay:.6s;
}

.loader-text span:nth-child(7){
  animation-delay:.7s;
}

.loader-text span:nth-child(8){
  animation-delay:.8s;
}

.loader-text span:nth-child(9){
  animation-delay:.9s;
}

.loader-text span:nth-child(10){
  animation-delay:.10s;
}

.loader-text span:nth-child(11){
  animation-delay:.11s;
}

.loader-text span:nth-child(12){
  animation-delay:.12s;
}



@keyframes bounce{
  0%,100%{
    transform:translateY(0);
    opacity:0.5;
  }
  50%{
    transform:translateY(-20px);
    opacity:1;
  }
}




.navbar {
  background-color: #000000;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 70px;


}

.nav-link {
  color: white;
  font-family: 'Poppins', sans-serif;


}

.nav-link:hover {
  color: #FF4ECF;
}


.navbar-toggler {
  border-color: #FF4ECF;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,...");
}

.ring {
  position: fixed;
  width: 25px;
  height: 25px;
  border-radius: 40%;
  border: 2px solid #6a8f14;
  pointer-events: none; 
  animation: ringFade 1s ease-out forwards;
  z-index: 9999; 
}

@keyframes ringFade {
  0% { opacity: 1; transform: scale(1); }
  100% { opacity: 0; transform: scale(2.5); }
}



html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


.bg-buttons {
  display: flex;
  gap: 10px;
  margin: 20px auto;
  justify-content: center;
}

.bg-btn {
  width: 80px;
  height: 50px;
  cursor: pointer;
  border: 2px solid #ff4ecf;
  border-radius: 5px;
  object-fit: cover;
  transition: transform 0.2s;
}

.bg-btn:hover {
  transform: scale(1.1);
}